%p#notice= notice

%p
  %b Maquina:
  = @user.maquina_id
%p
  %b Nome:
  = @user.nome
%p
  %b Email:
  = @user.email
%p
  %b Senha:
  = @user.senha

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
