%h1 Listing tickets

%table.table.table-hover
  %thead
    %tr
      %th Titulo
      %th Descricao
      %th User
      %th Status
      %th
      %th
      %th

  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= ticket.titulo
        %td= ticket.descricao
        %td= ticket.user
        %td= ticket.status.try(:nome)
        %td= link_to 'Show', ticket
        %td= link_to 'Edit', edit_ticket_path(ticket)
        %td= link_to 'Destroy', ticket, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Ticket', new_ticket_path
