%p#notice= notice

%p
  %b Titulo:
  = @ticket.titulo
%p
  %b Descricao:
  = @ticket.descricao
%p
  %b User:
  = @ticket.user
%p
  %b Status:
  = @ticket.status.try(:nome)

= link_to 'Edit', edit_ticket_path(@ticket)
\|
= link_to 'Back', tickets_path
